<form [formGroup]="personneForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput type="email" placeholder="email" formControlName="email"/>
        <mat-error *ngIf="mailCtrl.hasError('required')">
            email requis
        </mat-error>
        <mat-error *ngIf="mailCtrl.hasError('email')">
            Veuillez entrer une adresse email valide
        </mat-error>
        <mat-error *ngIf="mailCtrl.hasError('domaineError')">
          Nom de domaine invalide
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="nom" formControlName="nom"/>
    </mat-form-field>
    <mat-form-field>
        <input appInputColor="red" matInput type="text" placeholder="prenom" formControlName="prenom"/>
    </mat-form-field>
    <button mat-button color="primary" type="submit" [disabled]="!personneForm.valid">Save</button>
</form>
<mat-form-field>
  <input matInput type="text" placeholder="recherche" [(ngModel)]="inputSearch"/>
</mat-form-field>
<div *ngFor="let personne of personnes | personneImpure:inputSearch">
    <app-personne [personne]="personne" (onDelete)="supprimer($event)"></app-personne>
</div>
