<mat-sidenav-container>
        <mat-sidenav #sidenav mode="side">Start</mat-sidenav>
        <mat-sidenav-content>
                <mat-toolbar color="primary">
                        <button mat-icon-button (click)="sidenav.toggle()">
                                <mat-icon>menu</mat-icon>
                        </button>
                        <div [routerLink]="['']">My Application</div>
                        <button mat-button class="toolbar-link" routerLink="/personnes">personnes</button>
                        <span class="example-fill-remaining-space"></span>
                        <button mat-icon-button [matMenuTriggerFor]="appMenu">
                                <mat-icon>more_vert</mat-icon>
                        </button>
                </mat-toolbar>
                <mat-menu #appMenu="matMenu">
                        <button mat-menu-item [routerLink]="['settings']"> Settings </button>
                        <button mat-menu-item> Help </button>
                </mat-menu>
                <router-outlet></router-outlet>
        </mat-sidenav-content>
</mat-sidenav-container>